<article class="search-result row">
	<div class="col-xs-12 col-sm-12 col-md-3">
		<a href="/profile?id={{id}}" class="thumbnail"><img src="images/blank_profile_picture.png" alt="" /></a>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-2">
		<ul class="meta-search">
			<li><i class="glyphicon glyphicon-calendar"></i> <span>birthdate</span></li>
			<li><i class="glyphicon glyphicon-tags"></i> <span>sql id {{id}}= insterests?</span></li>
			<li><i class="glyphicon glyphicon-pushpin"></i> <span>Location</span></li>
		</ul>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-7 excerpet">
		<h3><a href="/profile?id={{id}}" title="">{{first_name}} {{last_name}}</a></h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, exercitationem, suscipit, distinctio, qui sapiente aspernatur molestiae non corporis magni sit sequi iusto debitis delectus doloremque.</p>						
		<p> {{bio}}  substring bio?</p>
		{{!-- <span class="plus"><a href="#" title=""><i class="glyphicon glyphicon-plus"></i></a></span> --}}
		<button class="btn-primary" href="match">Match</button>
	</div>
	<span class="clearfix borda"></span>
</article>