{% extends 'base.html.twig' %}


{% block body %}
<div class="profile-header">
	<h1>{{profile.first_name}} {{profile.last_name}}</h1>
	<img src="{{profile.profile_img_loc}}" id="profile-image" height="280px"> <!-- float left -->

	<div id="personal-info">
		<span><strong>Birthday:</strong>{{profile.birthdate}}</span>
		<br>
		<span><strong>Gender:</strong>{{profile.gender}}</span>
		<br>
		<span><strong>Sexual Prefrence:</strong>{{profile.sex_pref}}</span>
		<br>
		{% if online %}
		<span><strong>Last online:</strong>ONLINE NOW</span>
		{% else %}
		<span><strong>Last online:</strong>{{profile.last_online}}</span>
		{% endif %}
		<br>
		<span><strong>Fame Rating:</strong>{{rating}}</span>
		<br>
		<span><strong>Tags:</strong>{{profile.tags}}</span>
		<br>
		{# this is a security risk 
		<span><strong>latitude:</strong>{{profile.latitude}}</span>
		<br>
		<span><strong>longitude:</strong>{{profile.longitude}}</span>
		<br> #}
	</div>
</div>

<form action="#" method="POST">
	<input type="submit" name="submit" value="Like"/>
	<input type="submit" name="submit" value="Un-like"/>
	<input type="submit" name="submit" value="Block"/>
	<input type="submit" name="submit" value="Report Fake"/>


</form>


<h3>Bio</h3>

<article>
	{{profile.bio}}
</article>

<div id="profile-imgs">
	{% for source in profile_images %}
		<img src="{{source}}" width="100px" />
	{% endfor %}
</div>


{% endblock %}